h1::after { /* this is the underline*/
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: #e91c1c;
    margin: 5px auto40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, .5);
}

h2 {
    line-height: 50px;
    color: #e91c1c;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900px;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: inline-block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix::after, /*:after is now ::after */
.container::after,
.navbar::after {
    clear: both;
    display: table;
    content: "";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute; /* this ensures that the images cannot render outside of their container without fourcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 0% auto;
    content: "";
    /*top: 0;
    left: 0;
    position: absolute;*/
    width: 100%;
    position: fixed;
    z-index: 100;
    /*background-color: rgba(255, 255, 255, .5);*/
}

/* Home Section Styles*/
#home {
    background: url(pictures/planets.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 500px;
    color: #fff;

}