/* font formatting*/

html {
    font-family: Calibri;
    text-align: center;
    background-color: #76b6f7;
}

body {
    line-height: 20px;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
    color: #c02323;
}

h2 {
    line-height: 30px;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #c97414;
}

p {
    line-height: 15px;
    font-size: 15px;
    color: #abb8d1;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix::after, /*:after is now ::after */
.container::after,
.navbar::after {
    clear: both;
    display: table;
    content: "";
}

/*pictures*/

.flex-container{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px ;
    background-color: rgba(100, 65, 0, alpha0.3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }


    /* gallery selection animation*/
 
 .photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: rgb(9, 133, 61);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .7);
 }

 .photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 200px;
 }

 .photo-container img {
    max-width: 100%;
    width: 300%;
    height: 200px;
 }

 .photo-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center; /* for centering text inside .photo overlay*/
    align-items: center;
    background: rgba(26, 8, 8, 0.5);
 }

  /* photo overlay transition*/

 .photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
 }

 .photo-overlay:hover {
    opacity: 1;
 }

 .photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
 }

 .photo:hover img {
    transform: scale(1.3);
 }
/*contact form*/


.container p {
    color: #f0f1f3;
    width: 60%;
    margin: 80px auto;
    font-size: 15px;
    font-weight: 40px;
    text-align: center;
}

.container form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #072e55;
    padding: 10px;
    width: 60%;
    border: 1px solid #0a0909;
    margin: 2% auto;
    border-radius: 6px;
    background-color: rgb(112, 85, 233);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, .3);
    font-family: Calibri;
    }

.container input[type='text'] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8c98a5;
    padding: 2% 1% 1% 2%;
    width: 90%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #a6b1bd;
    border-bottom: 2px solid #a6b1bd;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 6px;
    background: #15243f;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, .15);
}

.container input[type="text"]:hover{
    box-shadow: 0 0 18px rgba(27, 114, 46, 0.8);
}
/*contact Styles*/

