/* font formatting*/

html {
    font-family: Calibri;
}

h1 {
    line-height: 60px;
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #c02323;
}

h2 {
    line-height: 30px;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #c97414;
}

/*pictures*/

.gallery {
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    grid-template-rows: repeat(3, 20vw);
    grid-gap: 25px;
	
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*contact form*/


.container p {
    color: #13161b;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.container form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #072e55;
    padding: 10px;
    width: 60%;
    border: 1px solid #0a0909;
    margin: 2% auto;
    border-radius: 6px;
    background-color: rgb(112, 85, 233);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, .3);
    font-family: 'Raleway', sans-serif;
    }

.container input[type='text'] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8c98a5;
    padding: 2% 1% 1% 2%;
    width: 90%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #a6b1bd;
    border-bottom: 2px solid #a6b1bd;
    border-left: 1px solid #090b0d;
    margin: 8px 1em;
    border-radius: 6px;
    background: #15243f;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, .15);
}

.container input[type="text"]:hover{
    box-shadow: 0 0 18px rgba(27, 114, 46, 0.8);
}
